@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
}
.li_style_none {
  list-style: none;
}
.transParentBtn {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
}

.customBtnCarousel > .splide__arrows > button:first-child {
  border-radius: 5px;
  left: 30px;
}
.customBtnCarousel > .splide__arrows > button:last-child {
  border-radius: 5px;
  right: 30px;
}
.customBtnCarousel > ul > li > .is-active {
  background: #f1a548;
}

.movieScroll > .splide__arrows {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.movieScroll > .splide__arrows > button:last-child {
  right: -3em !important;
}
.movieScroll > .splide__arrows > button:first-child {
  left: -2em !important;
}

.rightSlidesCustomBtn > .splide__arrows {
  position: absolute;
  top: -30px;
}
.rightSlidesCustomBtn > .splide__arrows > button:first-child {
  left: 80px;
  background: none;
}
.rightSlidesCustomBtn > .splide__arrows > button:last-child {
  left: 110px;
  background: none;
}
.rightSlidesCustomBtn > .splide__arrows > button > svg {
  fill: #eab308;
}
.splide__pagination {
  bottom: 0 !important;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}
.no-scroll-bar {
  scrollbar-width: none;
}
